/**
 * _all_quarks.scss
 *
 * This is the file importing all the partials defined.
 * Actually, this is the only compiled file...
 *
 */

/* 
 * -------------------------
 * Variables for Compass Core Framework
 * -------------------------
 * If you want to use all the compass core framework,
 * uncomment additional modules
 */

// These 3 variables are copies of ones used in Compass' Vertical Rhythm module.

  // The base font size.
  $base-font-size: 16px;

  // The base line height determines the basic unit of vertical rhythm.
  $base-line-height: 24px;

  // The length unit in which to output vertical rhythm values.
  // Supported values: px, em, rem.
  $rhythm-unit: 'em';

// This variable is a copy of the one used in Compass' support module.

  // Optional map of minimum browser versions to support. For example, to
  // remove support for IE 7 and earlier, set $browser-minimum-versions['ie']
  // to '8'.
  $browser-minimum-versions: (
    'chrome':  null,
    'firefox': null,
    'ie':      null,
    'safari':  null,
    'opera':   null
  );


// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: true;

// The default font family.
$base-font-family: sans-serif;

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// The amount lists and blockquotes are indented.
$indent-amount: 40px;

/* 
 * -------------------------
 * Compass Core Framework 0.12.2
 * -------------------------
 * -- Useful for normalize.scss
 * If you want to use all the compass core framework,
 * uncomment additional modules
 */
@import "compass/support";
@import "compass/css3/box-sizing";
@import "compass/typography/vertical_rhythm";
// @import "compass/utilities";
// @import "compass/typography";
// @import "compass/css3";
// @import "compass/layout";
// @import "compass/reset";

/* 
 * -------------------------
 * Normalize.scss
 * -------------------------
 */
@import "normalize";

/* 
 * -------------------------
 * Additional basic html elements behaviors
 * -------------------------
 */
// @import "html_elements/a"
// @import "html_elements/abbr"
// @import "html_elements/address"
// @import "html_elements/area"
// @import "html_elements/article"
// @import "html_elements/aside"
// @import "html_elements/audio"
// @import "html_elements/b"
// @import "html_elements/bdi"
// @import "html_elements/bdo"
// @import "html_elements/blockquote"
// @import "html_elements/body"
// @import "html_elements/br"
// @import "html_elements/button"
// @import "html_elements/canvas"
// @import "html_elements/caption"
// @import "html_elements/cite"
// @import "html_elements/code"
// @import "html_elements/col"
// @import "html_elements/colgroup"
// @import "html_elements/command"
// @import "html_elements/datalist"
// @import "html_elements/dd"
// @import "html_elements/del"
// @import "html_elements/details"
// @import "html_elements/dfn"
// @import "html_elements/div"
// @import "html_elements/dl"
// @import "html_elements/dt"
// @import "html_elements/em"
// @import "html_elements/embed"
// @import "html_elements/fieldset"
// @import "html_elements/figcaption"
// @import "html_elements/figure"
// @import "html_elements/footer"
// @import "html_elements/form"
// @import "html_elements/h"
// @import "html_elements/header"
// @import "html_elements/hgroup"
// @import "html_elements/hr"
// @import "html_elements/html"
// @import "html_elements/i"
// @import "html_elements/iframe"
// @import "html_elements/img"
// @import "html_elements/input"
// @import "html_elements/ins"
// @import "html_elements/kbd"
// @import "html_elements/keygen"
// @import "html_elements/label"
// @import "html_elements/legend"
// @import "html_elements/li"
// @import "html_elements/map"
// @import "html_elements/mark"
// @import "html_elements/menu"
// @import "html_elements/meter"
// @import "html_elements/nav"
// @import "html_elements/noscript"
// @import "html_elements/object"
// @import "html_elements/ol"
// @import "html_elements/optgroup"
// @import "html_elements/option"
// @import "html_elements/output"
// @import "html_elements/p"
// @import "html_elements/param"
// @import "html_elements/pre"
// @import "html_elements/progress"
// @import "html_elements/q"
// @import "html_elements/rp"
// @import "html_elements/rt"
// @import "html_elements/ruby"
// @import "html_elements/s"
// @import "html_elements/samp"
// @import "html_elements/section"
// @import "html_elements/select"
// @import "html_elements/small"
// @import "html_elements/source"
// @import "html_elements/span"
// @import "html_elements/strong"
// @import "html_elements/sub_sup"
// @import "html_elements/summary"
// @import "html_elements/table"
// @import "html_elements/tbody"
// @import "html_elements/td"
// @import "html_elements/textarea"
// @import "html_elements/tfoot"
// @import "html_elements/th"
// @import "html_elements/thead"
// @import "html_elements/time"
// @import "html_elements/tr"
// @import "html_elements/track"
// @import "html_elements/u"
// @import "html_elements/ul"
// @import "html_elements/var"
// @import "html_elements/video"
// @import "html_elements/wbr"
