/**
 * _all_quarks.scss
 *
 * This is the file importing all the partials defined.
 * Actually, this is the only compiled file...
 *
 */

/* 
 * -------------------------
 * Variables for Compass Core Framework
 * -------------------------
 * If you want to use all the compass core framework,
 * uncomment additional modules
 */

// These 3 variables are copies of ones used in Compass' Vertical Rhythm module.

  // The base font size.
  $base-font-size: 16px;

  // The base line height determines the basic unit of vertical rhythm.
  $base-line-height: 24px;

  // The length unit in which to output vertical rhythm values.
  // Supported values: px, em, rem.
  $rhythm-unit: 'em';

// This variable is a copy of the one used in Compass' support module.

  // Optional map of minimum browser versions to support. For example, to
  // remove support for IE 7 and earlier, set $browser-minimum-versions['ie']
  // to '8'.
  $browser-minimum-versions: (
    'chrome':  null,
    'firefox': null,
    'ie':      null,
    'safari':  null,
    'opera':   null
  );


// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: true;

// The default font family.
$base-font-family: sans-serif;

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// The amount lists and blockquotes are indented.
$indent-amount: 40px;

/* 
 * -------------------------
 * Compass Core Framework 0.12.2
 * -------------------------
 * -- Useful for normalize.scss
 * If you want to use all the compass core framework,
 * uncomment additional modules
 */
@import "compass/support";
@import "compass/css3/box-sizing";
@import "compass/typography/vertical_rhythm";
// @import "compass/utilities";
// @import "compass/typography";
// @import "compass/css3";
// @import "compass/layout";
// @import "compass/reset";

/* 
 * -------------------------
 * Normalize.scss
 * -------------------------
 */
@import "normalize";

/* 
 * -------------------------
 * Additional basic html elements behaviors
 * -------------------------
 */
// @import "html_elements\_a.scss"
// @import "html_elements\_abbr.scss"
// @import "html_elements\_address.scss"
// @import "html_elements\_area.scss"
// @import "html_elements\_article.scss"
// @import "html_elements\_aside.scss"
// @import "html_elements\_audio.scss"
// @import "html_elements\_b.scss"
// @import "html_elements\_bdi.scss"
// @import "html_elements\_bdo.scss"
// @import "html_elements\_blockquote.scss"
// @import "html_elements\_body.scss"
// @import "html_elements\_br.scss"
// @import "html_elements\_button.scss"
// @import "html_elements\_canvas.scss"
// @import "html_elements\_caption.scss"
// @import "html_elements\_cite.scss"
// @import "html_elements\_code.scss"
// @import "html_elements\_col.scss"
// @import "html_elements\_colgroup.scss"
// @import "html_elements\_command.scss"
// @import "html_elements\_datalist.scss"
// @import "html_elements\_dd.scss"
// @import "html_elements\_del.scss"
// @import "html_elements\_details.scss"
// @import "html_elements\_dfn.scss"
// @import "html_elements\_div.scss"
// @import "html_elements\_dl.scss"
// @import "html_elements\_dt.scss"
// @import "html_elements\_em.scss"
// @import "html_elements\_embed.scss"
// @import "html_elements\_fieldset.scss"
// @import "html_elements\_figcaption.scss"
// @import "html_elements\_figure.scss"
// @import "html_elements\_footer.scss"
// @import "html_elements\_form.scss"
// @import "html_elements\_h.scss"
// @import "html_elements\_header.scss"
// @import "html_elements\_hgroup.scss"
// @import "html_elements\_hr.scss"
// @import "html_elements\_html.scss"
// @import "html_elements\_i.scss"
// @import "html_elements\_iframe.scss"
// @import "html_elements\_img.scss"
// @import "html_elements\_input.scss"
// @import "html_elements\_ins.scss"
// @import "html_elements\_kbd.scss"
// @import "html_elements\_keygen.scss"
// @import "html_elements\_label.scss"
// @import "html_elements\_legend.scss"
// @import "html_elements\_li.scss"
// @import "html_elements\_map.scss"
// @import "html_elements\_mark.scss"
// @import "html_elements\_menu.scss"
// @import "html_elements\_meter.scss"
// @import "html_elements\_nav.scss"
// @import "html_elements\_noscript.scss"
// @import "html_elements\_object.scss"
// @import "html_elements\_ol.scss"
// @import "html_elements\_optgroup.scss"
// @import "html_elements\_option.scss"
// @import "html_elements\_output.scss"
// @import "html_elements\_p.scss"
// @import "html_elements\_param.scss"
// @import "html_elements\_pre.scss"
// @import "html_elements\_progress.scss"
// @import "html_elements\_q.scss"
// @import "html_elements\_rp.scss"
// @import "html_elements\_rt.scss"
// @import "html_elements\_ruby.scss"
// @import "html_elements\_s.scss"
// @import "html_elements\_samp.scss"
// @import "html_elements\_section.scss"
// @import "html_elements\_select.scss"
// @import "html_elements\_small.scss"
// @import "html_elements\_source.scss"
// @import "html_elements\_span.scss"
// @import "html_elements\_strong.scss"
// @import "html_elements\_sub_sup.scss"
// @import "html_elements\_summary.scss"
// @import "html_elements\_table.scss"
// @import "html_elements\_tbody.scss"
// @import "html_elements\_td.scss"
// @import "html_elements\_textarea.scss"
// @import "html_elements\_tfoot.scss"
// @import "html_elements\_th.scss"
// @import "html_elements\_thead.scss"
// @import "html_elements\_time.scss"
// @import "html_elements\_tr.scss"
// @import "html_elements\_track.scss"
// @import "html_elements\_u.scss"
// @import "html_elements\_ul.scss"
// @import "html_elements\_var.scss"
// @import "html_elements\_video.scss"
// @import "html_elements\_wbr.scss"
